/* 
--01 Typography

-Font-sizes
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 (in px)

- Font-width
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

--02 Colors

- Primary-color:
#688BE6;

- Tints: 
#DCDEFD

- Shades: 
#BDA7FE
#686DE0
#132B7E



- Accents:
- Greys :
#0E0E0E
#656565
#3C3C3C


--03 Border-Radius

--04 Shadows

--05 Spacing
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 (in px)

*/


@font-face {
  font-family: "AvenirNextLTPro";
  src: url(/Reskin/AvenirNextLTPro-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Oswald", "sans-serif";
  font-weight: 400;
  line-height: 1;
  overflow-x: hidden;
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid{
  display: grid;
}

.grid--2--cols{
  grid-template-columns: repeat(2,1fr);
}

.grid--3--cols{
  grid-template-columns: repeat(3,1fr);
}

.heading-primary {
  font-size: 4.4rem;
  color: #ffff;
}

.heading-secondary {
  font-size: 3.6rem;
  color: #132b7e;
  font-weight: 500;
  line-height: 4.8rem;
}

.heading-tertiary{
  font-size:2.4rem;
  font-weight: 500;
  color: #0E0E0E;
}

.heading-quadnary{
  font-size:1.8rem;
  font-weight: 300;
  color:#132B7E;
}

.btn-filled,
.btn-filled:link,
.btn-filled:visited {
  display: inline-block;
  text-decoration: none;
  border: none;
  padding: 1.2rem 2.8rem;
  background-color: #688be6;
  color: #ffff;
  cursor: pointer;
}

.btn-filled:hover,
.btn-filled:active {
  color: #686de0;
}

.btn-outline,
.btn-outline:link,
.btn-outline:visited {
  display: inline-block;
  border: none;
  text-decoration: none;
  padding: 1.2rem 2.8rem;
  background-color: rgb(104, 139, 230,0.10);
  border: 1px solid rgba(104, 140, 230, 0.30);
  color: #686DE0;
  cursor: pointer;
}

.btn-outline:hover,
.btn-outline:active {
  color: #DCDEFD;
}

.btn{
  text-align: center;
  font-size: 1.2rem;
  min-width: 20rem;
}

.header-section-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/terms-conditions-banner.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-align-cen {
  text-align: center!important;
}

.text-align-right {
  text-align: right!important;
}

.margin-bot-xsm{
  margin-bottom: 1.2rem!important;
}

.margin-bot-sm{
  margin-bottom: 1.8rem!important;
}

.margin-bot-md{
  margin-bottom: 2.4rem!important;
}

.uppercase{
  text-transform: uppercase!important;
}

.capitalize{
  text-transform: capitalize!important;
}